<div class="h-100 d-flex flex-column p-3">
  <div class="flex-grow-1 position-relative overflow-hidden">
    <div class="position-absolute h-100 w-100 d-flex overflow-auto">
      <div class="container h-100">
        <form [formGroup]="postForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label class="form-label">Post Type</label>
                <select class="form-select" selectDropdown [options]="types" id="type" formControlName="type">
                  <option value="" disabled selected>Select a type</option>
                  <option *ngFor="let type of types" [value]="type.id">{{ type.name }}</option>
                </select>
              </div>
              <div class="row g-3">
                <div class="col-lg-3 col-md-6 col-sm-3 col-6">
                  <div class="form-group mb-3 py-2 px-3 border border-5"
                    [ngClass]="postForm.get('avatar')?.value ? 'border-success' : 'border-light'" for="avatarSwitch">
                    <div class="form-check form-switch">
                      <label class="form-check-label" for="avatarSwitch">Avatar</label>
                      <input class="form-check-input" type="checkbox" formControlName="avatar" id="avatarSwitch">
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-3 col-6">
                  <div class="form-group mb-3 py-2 px-3 border border-5"
                    [ngClass]="postForm.get('name')?.value ? 'border-success' : 'border-light'" for="nameSwitch">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" formControlName="name" id="nameSwitch">
                      <label class="form-check-label" for="nameSwitch">Name</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-3 col-6">
                  <div class="form-group mb-3 py-2 px-3 border border-5"
                    [ngClass]="postForm.get('address')?.value ? 'border-success' : 'border-light'" for="avatarSwitch">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" formControlName="address" id="addressSwitch">
                      <label class="form-check-label" for="addressSwitch">Address</label>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6 col-sm-3 col-6">
                  <div class="form-group mb-3 py-2 px-3 border border-5"
                    [ngClass]="postForm.get('text-group')?.value ? 'border-success' : 'border-light'"
                    for="avatarSwitch">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" formControlName="text-group" id="textGroupSwitch">
                      <label class="form-check-label" for="textGroupSwitch">Text Group</label>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="col-md-6">
              <ng-container formArrayName="details">
                <ng-container *ngFor="let detail of detailsForms.controls; let i = index" [formGroupName]="i">
                  <div class="row g-3">
                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-label">Width</label>
                        <input class="form-control" type="number" formControlName="w" placeholder="Image Width">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-label">Height</label>
                        <input class="form-control" type="number" formControlName="h" placeholder="Image Height">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-label">Background Image URL</label>
                        <input class="form-control" type="text" formControlName="backgroundUrl"
                          placeholder="Background URL">
                      </div>
                    </div>
                  </div>
                  <div formArrayName="data" class="row g-3">
                    <ng-container *ngIf="getDataControls(detail)">
                      <ng-container *ngFor="let data of getDataControls(detail); let j = index">
                        <ng-container [formGroupName]="j">
                          <ng-container *ngIf="postForm.get('avatar')?.value && data.get('type')?.value == 'avatar'">
                            <div class="col-12">
                              <h5 class="text-capitalize mt-3 mb-2">{{data.get('type')?.value}}</h5>
                              <hr class="m-0">
                              <input type="text" formControlName="type" value="avatar" hidden>
                            </div>
                            <div class="col-6" *ngIf="data.get('x')">
                              <div class="form-group">
                                <label class="form-label">X</label>
                                <input class="form-control" type="number" formControlName="x" placeholder="X">
                              </div>
                            </div>
                            <div class="col-6" *ngIf="data.get('y')">
                              <div class="form-group">
                                <label class="form-label">Y</label>
                                <input class="form-control" type="number" formControlName="y" placeholder="Y">
                              </div>
                            </div>
                            <div class="col-6" *ngIf="data.get('radius')">
                              <div class="form-group">
                                <label class="form-label">Radius</label>
                                <input class="form-control" type="number" formControlName="radius" placeholder="Radius">
                              </div>
                            </div>
                            <div class="col-6" *ngIf="data.get('borderwidth')">
                              <div class="form-group">
                                <label class="form-label">Border Width</label>
                                <input class="form-control" type="number" formControlName="borderwidth"
                                  placeholder="Border Width">
                              </div>
                            </div>
                            <div class="col-6" *ngIf="data.get('bordercolor')">
                              <div class="form-group">
                                <label class="form-label">Border Color</label>
                                <input class="form-control" type="text" formControlName="bordercolor"
                                  placeholder="Border Color">
                              </div>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="postForm.get('name')?.value && data.get('type')?.value == 'name'">
                            <div class="col-12">
                              <h5 class="text-capitalize mt-3 mb-2">{{data.get('type')?.value}}</h5>
                              <hr class="m-0">
                              <input type="text" formControlName="type" [value]="data.get('type')?.value" hidden>
                            </div>
                            <div class="col-6" *ngIf="data.get('x')">
                              <div class="form-group">
                                <label class="form-label">X</label>
                                <input class="form-control" type="number" formControlName="x" placeholder="X">
                              </div>
                            </div>
                            <div class="col-6" *ngIf="data.get('y')">
                              <div class="form-group">
                                <label class="form-label">Y</label>
                                <input class="form-control" type="number" formControlName="y" placeholder="Y">
                              </div>
                            </div>
                            <div class="col-6" *ngIf="data.get('fs')">
                              <div class="form-group">
                                <label class="form-label">Font Size</label>
                                <input class="form-control" type="number" formControlName="fs" placeholder="Font Size">
                              </div>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="postForm.get('address')?.value && data.get('type')?.value == 'address'">
                            <div class="col-12">
                              <h5 class="text-capitalize mt-3 mb-2">{{data.get('type')?.value}}</h5>
                              <hr class="m-0">
                              <input type="text" formControlName="type" [value]="data.get('type')?.value" hidden>
                            </div>
                            <div class="col-6" *ngIf="data.get('x')">
                              <div class="form-group">
                                <label class="form-label">X</label>
                                <input class="form-control" type="number" formControlName="x" placeholder="X">
                              </div>
                            </div>
                            <div class="col-6" *ngIf="data.get('y')">
                              <div class="form-group">
                                <label class="form-label">Y</label>
                                <input class="form-control" type="number" formControlName="y" placeholder="Y">
                              </div>
                            </div>
                            <div class="col-6" *ngIf="data.get('fs')">
                              <div class="form-group">
                                <label class="form-label">Font Size</label>
                                <input class="form-control" type="number" formControlName="fs" placeholder="Font Size">
                              </div>
                            </div>
                          </ng-container>
                          <ng-container
                            *ngIf="postForm.get('text-group')?.value && data.get('type')?.value === 'text-group'">
                            <ng-container *ngIf="data.get('data')">
                              <div class="col-12">
                                <h5 class="text-capitalize mt-3 mb-2">{{data.get('type')?.value}}</h5>
                                <hr class="m-0">
                                <input type="text" formControlName="type" [value]="data.get('type')?.value" hidden>
                              </div>
                              <div formArrayName="data" class="col-12">
                                <div
                                  *ngFor="let item of convertArrayToFormArray(data.get('data')?.value).controls; let k = index"
                                  class="border rounded-2 p-3 mb-3">
                                  <div [formGroupName]="k" class="row">
                                    <ng-container
                                      *ngIf="item.get('type')?.value === 'name' || item.get('type')?.value === 'address'">
                                      <div class="col-12">
                                        <h6 class="text-capitalize mb-2">{{item.get('type')?.value}}</h6>
                                        <hr class="m-0">
                                        <input type="text" formControlName="type" [value]="item.get('type')?.value"
                                          hidden>
                                      </div>
                                      <div class="col-6" *ngIf="item.get('x')">
                                        <div class="form-group">
                                          <label class="form-label">X</label>
                                          <input class="form-control" type="number" formControlName="x" placeholder="X">
                                        </div>
                                      </div>
                                      <div class="col-6" *ngIf="item.get('y')">
                                        <div class="form-group">
                                          <label class="form-label">Y</label>
                                          <input class="form-control" type="number" formControlName="y" placeholder="Y">
                                        </div>
                                      </div>
                                      <div class="col-6" *ngIf="item.get('fs')">
                                        <div class="form-group">
                                          <label class="form-label">Font Size</label>
                                          <input class="form-control" type="number" formControlName="fs" placeholder="Font Size">
                                        </div>
                                      </div>
                                    </ng-container>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>