/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    /* Color of the thumb */
    border-radius: 8px;
    /* Rounded corners */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color of the track */
    /* Rounded corners */
}

/* For Firefox */
/* Note: Firefox supports scrollbar styling starting from Firefox 64 */


/* Set rounded corners for the scrollbar thumb */
body::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

/* Set rounded corners for the scrollbar track */
body::-webkit-scrollbar-track {
    border-radius: 8px;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Hind Vadodara', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) #f1f1f1;
}

::selection {
    background-color: #408253;
    /* Change this to the desired background color */
    color: #FFF;
    /* Change this to the desired text color */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.overflow-y-auto {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.overflow-x-auto {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

@for $i from 5 through 100 {
    .min-vh-#{$i} {
        min-height: #{$i}vh !important;
    }
}

@for $i from 1 through 500 {
    .h-#{$i}-px {
        height: #{$i}px !important;
    }

    .w-#{$i}-px {
        width: #{$i}px !important;
    }

    .min-h-#{$i}-px {
        min-height: #{$i}px !important;
    }

    .min-w-#{$i}-px {
        min-width: #{$i}px !important;
    }

    .max-h-#{$i}-px {
        max-height: #{$i}px !important;
    }

    .max-w-#{$i}-px {
        max-width: #{$i}px !important;
    }
}

@for $i from 1 through 100 {
    .max-h-#{$i}-vh {
        max-height: #{$i}vh !important;
    }

    .min-h-#{$i}-vh {
        min-height: #{$i}vh !important;
    }

    .max-w-#{$i}-vw {
        max-width: #{$i}vw !important;
    }

    .min-w-#{$i}-vw {
        min-width: #{$i}vw !important;
    }

    .h-#{$i}-vh {
        height: #{$i}vh !important;
    }

    .max-h-#{$i}-p {
        max-height: calc(#{$i} * 1%) !important;
    }

    .min-h-#{$i}-p {
        min-height: calc(#{$i} * 1%) !important;
    }

    .max-w-#{$i}-p {
        max-width: calc(#{$i} * 1%) !important;
    }

    .min-w-#{$i}-p {
        min-width: calc(#{$i} * 1%) !important;
    }

    .h-#{$i}-p {
        height: calc(#{$i} * 1%) !important;
    }

    .w-#{$i}-p {
        width: calc(#{$i} * 1%) !important;
    }

    .max-h-#{$i} {
        max-height: calc(#{$i} * 1%) !important;
    }

    .max-w-#{$i} {
        max-width: calc(#{$i} * 1%) !important;
    }
}

.form-floating {
    position: relative;

    .error {
        position: absolute;
        top: 100%;
    }
}

.sticky-top {
    z-index: 1;
}

.cropper-container {
    margin: 0 auto;
}

.form-label {
    margin-bottom: 0.15rem;
    font-weight: 600;
    text-transform: capitalize;
}

$fab-color: white;
$fab-background-color-1: #4ba2ff;
$fab-background-color-2: inherit;

.fab-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 5;
    align-items: end;
    padding-bottom: 30px;
    padding-right: 30px;

    &.expanded {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);

        .fab {
            background-color: $fab-background-color-1;
        }

        @for $i from 2 through 8 {
            .sub-button:nth-child(#{$i}) {
                transform: translateY(-(60px * ($i - 1)) - 60px);
            }
        }

        .sub-button {
            a {
                &:hover {
                    background: #408253;
                }

                span {
                    display: flex;
                    right: calc(100% + 10px);
                    top: 7.5px;
                    color: #000;
                    align-items: center;
                    pointer-events: none;
                    padding: 0px 10px;
                    background: #FFF;
                }
            }
        }
    }

    .fab {
        position: relative;
        height: 50px;
        width: 50px;
        background-color: #000;
        color: $fab-color;
        border-radius: 50%;
        z-index: 2;
        margin-right: 5px;

        .fab-content {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            border-radius: 50%;

            .material-icons {
                color: $fab-color;
                font-size: 48px;
            }
        }
    }

    .sub-button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: 60px;
        width: 60px;

        a {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000;
            color: $fab-color;
            border-radius: 50%;
            position: relative;
            text-decoration: none;

            span {
                position: absolute;
                height: calc(100% - 15px);
                display: none;
            }

            &:hover {
                cursor: pointer;
            }

            color: $fab-color;
        }

        transition: all 0.3s ease;
    }
}

.control-group {
    overflow-x: auto;
    display: block;

    :-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
    label {
        &.btn {
            display: inline-block !important;
            width: 14.2857143%;
        }

        small {
            font-size: 70%;
            white-space: nowrap;
        }
    }
}